<div class="content">
  <%= render '/includes/breadcrumb', page_name: 'Registration' %>

  <%= form_for @registration, url: registrations_new_path do |f| %>
      <%= render 'form', f: f %>
  <% end %>
</div>