<div id="accordion-container">
  <h5 class="accordion-header active-header inactive-header">5th Grade Student</h5>
  <div class="accordion-content" style="display: block;">
    <h6 class="half-bottom">Your content title</h6>
    <p class="half-bottom">
      You can add any content you want, anything you want
      any elements from our framework you want into this
      accordion! Pretty awesome! Plus, it's fully responsive!
      You can add any content you want, anything you want
      any elements from our framework you want into this
      accordion! Pretty awesome! Plus, it's fully responsive!
      You can add any content you want, anything you want
      any elements from our framework you want into this
      accordion! Pretty awesome! Plus, it's fully responsive!
    </p>
  </div>
  <h5 class="accordion-header">5th Grade Chaperone</h5>
  <div class="accordion-content">
    <h6 class="half-bottom">Your content title</h6>
    <p class="half-bottom">
      You can add any content you want, anything you want
      any elements from our framework you want into this
      accordion! Pretty awesome! Plus, it's fully responsive!
    </p>
  </div>
  <h5 class="accordion-header">8th Grade Student</h5>
  <div class="accordion-content">
    <h6 class="half-bottom">Your content title</h6>
    <p class="half-bottom">
      You can add any content you want, anything you want
      any elements from our framework you want into this
      accordion! Pretty awesome! Plus, it's fully responsive!
    </p>
  </div>
  <h5 class="accordion-header">High School Student</h5>
  <div class="accordion-content">
    <h6 class="half-bottom">Your content title</h6>
    <p class="half-bottom">
      You can add any content you want, anything you want
      any elements from our framework you want into this
      accordion! Pretty awesome! Plus, it's fully responsive!
    </p>
  </div>
  <h5 class="accordion-header">Parents</h5>
  <div class="accordion-content">
    <h6 class="half-bottom">Your content title</h6>
    <p class="half-bottom">
      You can add any content you want, anything you want
      any elements from our framework you want into this
      accordion! Pretty awesome! Plus, it's fully responsive!
    </p>
  </div>
</div>
